body{
    background: linear-gradient(lightblue , rgb(17, 73, 138));
}

.full{
    width: 800px;
    height: 500px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(red , lightgreen);
    margin: 50px auto;
    display: grid;
    border-radius: 30px;
}

input{
    width: 380px;
    border-radius: 30px;
    height: 40px;
    font-size: larger;
    margin-bottom: 70px;
    padding: auto;
}

.para{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#btn{
    width: 300px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

#btn:hover{
    background-color: blue;
}